body {
  margin: 0;
  min-height: 100vh;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

ul.no-bullets {
  list-style-type: none; /* Remove bullets */
  padding: 0; /* Remove padding */
  margin: 0; /* Remove margins */
}

a.no-format {
  color: inherit;
  text-decoration: none;
}

img.main {
  width: 30vw;
}

.header {
  padding: 1em 1.5em;
  justify-content: space-between;
  align-items: center;
}

.header-logo {
  padding-top: 0.5em;
  font-size: 24px;
  color: #f9faf8;
  font-weight: bold;
}

.header-link ul {
  gap: 36px;
}

.secondary {
  font-size: 18px;
  color: #e5e7eb;
}

.page-block {
  display: flex;
  justify-content: space-around;
  padding: 5rem 1rem;
}

.left-page-block,
.right-page-block {
  width: 30vw;
}

.right-page-block {
  align-items: center;
}

.heading {
  font-size: 48px;
  font-weight: 900;
  color: #f9faf8;
}

.information .heading {
  font-size: 36px;
  font-weight: 900;
  color: #1f2937;
}

.information {
  align-items: center;
  padding: 5rem 1rem;
}

.footer {
  padding: 0.75em;
  text-align: center;
}

.button {
  display: inline-block;
  padding: 10px 30px;
  text-align: center;
  text-decoration: none;
  color: #ffffff;
  background-color: #7aa8b7;
  border-radius: 6px;
  outline: none;
}

.sign-up {
  background: #3882f6;
  border-radius: 8px;
  padding: 8px 30px;
  width: fit-content;
  font-weight: bold;
}

.dark-background {
  background-color: #1f2937;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-row {
  display: flex;
  flex-direction: row;
}
